<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
       rel = "stylesheet">
  <link rel="stylesheet" href="../public/assets/css/style.css">

</head>
<body>
 <header>
      <h1>PharmAppoint</h1>

      <nav>
     
        <a href="./view/adminlogin.html">Admin</a>
        
      </nav>
    </header>

<main class="col-auto">
    {{{body}}}
  </main>

  <footer class="flex-row justify-center">
    &copy; PharmAppoint
  </footer>
</body>

</html>
<script src="/public/assets/js/login.js"></script>