<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PharmAppoint Home</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="wrapper">
		<header>
			<h1>
				<a href="/api/homepage">PharmAppoint</a>
			</h1>
			<nav>
				{{#if loggedIn}}
				<a href="/view">Appointment</a>
				<button id="logout" class="btn-no-style">Logout</button>
				{{else}}
				<a href="/api/login">Login</a>
				<a href="/api/signup">Sign Up</a>
				 {{/if}}
		
			</nav>    
		</header>
		`
		<main>
			{{{ body }}}
		</main>
		
		<footer>
      ©️2022 Irene Hipolito, Esse Dirie, Moustafa El Dahhan, Scott Inthathirath, Sajees Jeyasangar
    </footer>
	</div>
		
	{{#if loggedIn}}
		<script src="/javascript/logout.js"></script>
		{{/if}}
		
</body>
	
</html>