<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>PharmAppoint Create User</title>
</head>
<body>
  <div class="wrapper">
    <header>
  <nav>
    <a href="./index.html">Home</a>
    
    
  </nav>
</header>
  <main>
  <h2>Please fill out to create a PharmAppoint User account!</h2>
  <p></p>
  <form id="signup-form">
    <!-- using user model -->
    <div>
      <label for="email-signup">Email:</label>
      <input type="email" id="email-signup" />
    </div>
    <div>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <label for="firstname-signup">First Name:</label>
      <input type="text" id="firstname-signup" />
    </div>
    <div>
      <label for="lastname-signup">Last Name:</label>
      <input type="text" id="lastname-signup" />
    </div>
    <!-- security questions -->
    <!-- <div>
      <label for="security-signup">What city were you born?:</label>
      <input type="text" id="question1-signup" />
    </div>
    <div>
      <label for="security-signup">What is your first pet's name?</label>
      <input type="text" id="question2-signup" />
    </div>
    <div>
      <label for="security-signup">What is your make of your first car?</label>
      <input type="text" id="question3-signup" />
    </div> -->
    <div>
      <button type="submit">signup</button>
    </div>
  </form>
</main>
</div>


</body>
</html>