<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Appointments</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    
    <div class="wrapper">
        <header>
          <h1>PharmAppoint</h1>
    
          <nav>
         
            <a href="./index.html">Home</a>
            
          </nav>
        </header>

        <main>
            <h2>Listed Appointments: </h2>

            <article class="card">
                <div class="card-header flex-row justify-space-between">
                  <ul>
                    <li>
                 
                        <h3 id="pt-name">John Smith</h3>
                        <div id="pt-email">jsmith@yahoo.com</div>
                        <div id="appt-date">2022-03-07</div>
                        <div id="appt-time">10:00</div>
                        <div id="appt-type">Covid Test</div>
                    </li>
                  </ul>
                </div>

              </article>


        </main>

    </div>    


</body>
</html> -->
