
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>PharmaAppoint Reset Account</title>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>PharmAppoint</h1>

      <nav>
     
        <a href="./index.html">Home</a>
        
      </nav>
    </header>
      


  <h2>Resetting your a PharmAppoint Password</h2>
  <p></p>
  <form id="signup-form">
    <div>
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="security-signup">What city were you born?:</label>
        <input type="text" id="question1-signup" />
      </div>
      <div>
        <label for="security-signup">What is your first pet's name?</label>
        <input type="text" id="question2-signup" />
      </div>
      <div>
        <label for="security-signup">What is your mother's maiden name?</label>
        <input type="text" id="question3-signup" />
      </div>
    <div>
        <h3>Type in your new password</h3>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
</body>
</html>