<h1>HOMEPAGE</h1>

  <h1>Appointments for <span id="back-date">{{firstname}}</span></h1>
  {{#each appointments}}
      <div class="container">
        <div>
          <p>
          <span class="Appointments_type">{{Appointments_date}}</span> 
          <span class="Appointments_time">{{Appointments_time}}:00</span> |
          <span class="Appointments_type">{{Appointments_type}}</span> |
          </p>
        </div>
      </div>
  {{/each}}