
<div class="login-page">
  <div class="login-card">
    <div class="login-wrap">
      
      <div class="login-card-header">
        <h2>Welcome!</h2>
      </div>
      
      <form class="login-form">
        <div>
          <input class="field" type="text" id="email-login" placeholder="e-mail address" />
        </div>
        
        <div>
          <input class="field" type="password" id="password-login" placeholder="password" />
        </div>
        
        <div>
          <button type="submit"  class="login-btn">Log In with Email</button>
        </div>
        
        <div>
          <p class="signup-txt">- or -</p>
        </div>

        
        <div>
          <p class="signup-txt">Not a member yet? <a href="/api/signup">Sign Up</a></p>
        </div>
      
      </form>
    </div>
  </div>
</div>

<script src="/javascript/login.js"></script>